/* if u want to copy and paste mutiple things.. instaed of switching windoes again and again.. copy all the thing one by one. and when u want to paste press windows key and 'v'. karo try..prsee maadi
vo anushree called now..nptel ka cancel karna hai exam. fine. ho?ya.okdone?lagta toh hai..wapas wohi page khula.. u should have clicked on second option na2nd kaunsa...
1. refundwohi kiya
that is only agreeing to it..
terms and conditions jaise hai vo..yo..thik hi toh hai

now i am out of study zone..hehehe..achaa...want to do html rest 15 min?..tumko kya karna hai...u tell me , u want to do html?...??take a break😂... to karo open camera and chrome..heheh
 */

 body {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.head {
	display: flex;
	padding-left: 5px;

}


.header {
	flex: 1;
}


.navbar {
	display: flex;
	justify-content: end;
	padding: 3% 6%;
}

.navbar a {
	text-decoration: none;
  color: black;
	text-align: center;
	justify-content: center;
  padding-right: 4%;
}


.nav-item:hover {
	border-bottom: 1px dotted black;
}

.products {
	margin: 3% auto;
	padding-top: 2%;
	padding-left: 1.5%;
	width: 70%;
	display: flex;
	flex-wrap: wrap;
}

.product-img {
	width: 30%;
	height: 300px;
	margin-right: 2%;
	margin-bottom: 3%;
	border: 1.5px solid black;
	border-radius: 20px;
}

.product-img:hover {
	box-shadow: 3px 5px 8px gray;
  cursor: pointer;
}

.product-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}


.client {
	margin-top: 8%;
	text-align: center;
	justify-content: center;
}

.client-img {
  display: flex;
  width: auto;
  height: 150px;
	justify-content: center;

	margin: 3% auto;

 
}

.client-logo {
  width: 60%;
  height: 80%;
	object-fit: contain;
	padding: 20px;
}

.services h2{
	margin-top: 3%;
	text-align: center;

}

#serv-desc {
  text-align: center;
}

.serv-articles {
	display: flex;
	margin-top: 3%;
}

.article-content {
  width: 40%;
  padding: 2%;
	margin: .5%;
  border: 1.5px dotted gray;
  border-radius: 15px;
}


.founder {
	margin-top: 8%;
	text-align: center;
	width: 70%;
	padding: 3%;
  background-color: rgb(219, 214, 214);
  border: 0.05px solid gray;
  border-radius: 20px;
}

.founder p {
  width: 70%;
  margin:auto auto;
}

.founder img {
	width: 150px;
	height: auto;
	border-radius: 50%;
}


/* you can give color to icons also */
.font-icon {
	color: blue;
	background-color: coral;
}


/* you have decrease the width oof all the section to 80%.. as that of img section at the top...ok?...par kyu
it loooks empty hehe..accha ji oooo*/