body {
	font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: whitesmoke;
}
.todo {
  width: 65%;
  background-color: white;
  border-radius: 10px;
  padding: 1% 0% 1% 2%;
  margin: 5% auto; 
}

.head {
  margin-top: 2%;
}

h4 {
  display: unset;
  margin: 1% 0% 10% 1%;
}

#inputListItem {
  width: 80%;
  padding: 1.5%;
  margin-top: 2%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: 1.5px solid gray;
  border-radius: 5px;
}

#addButton {
  width: 8%;
  padding: 1.5% 1%;
  background-color: royalblue;
  border: 1.5px solid royalblue;
  color: aliceblue;
  font-weight: bold;
  border-radius: 5px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#addButton:hover {
  color: whitesmoke;
  background-color: rgb(16, 34, 88);
  border-color: rgb(16, 34, 88);
}



.list-items {
  width: 92%;
}

.list-items li{
  padding: 1.5% 1% 1.5% 0%;
  border-bottom: 0.5px solid rgb(175, 175, 175, 0.75);
  background-color: white;
  margin-bottom: .5%;
  justify-content: center;
}

ul {
  display: unset;
  list-style-type:none;
}

ul li {
  font-size: 14px;
  display: flex;
}

li input {
  padding-left: 1%;
  margin-left: 2%;
}


.task {
  display: unset;
  justify-content: center;
  width: 88%;
  overflow-wrap: break-word;
}

input[type=checkbox]:checked~.task {
  text-decoration: line-through;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

.close {
  justify-content: center;
  margin-left: 10px;
  color: red;
  font-size: 125%;
  font-weight: lighter;
}

.close:hover {
  cursor: pointer;
  font-size: 140%;
  font-weight: bolder;
}
#edit {
  padding: 5px 0 0 0;
  color:  rgb(15, 43, 128);
  margin-right: 4px;
}

#edit:hover {
  cursor: pointer;
  font-size: 123%;
  color:  rgb(15, 43, 128);
}


.update {
  justify-content: center;
  /* display: unset; */
  /* width: max-content; */
  /* display: flex; */
  margin-left: auto;
}